<!DOCTYPE html>
<html id="site" lang="en-us" class=""><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            Site undergoing maintenance!
        </title>

        <meta name="viewport" content="initial-scale=1.0">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- 
        <link rel="shortcut icon" href="/us/static/nailsinc/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/us/static/nailsinc/css/styles.css">
        -->

    </head>

    <body id="default" class="default">
        <div class="container-fluid">
            <h1>Site unavailable</h1>
            <p>The site is currently unavailable while maintenance work is performed - it should be back
               shortly!</p>
        </div>
    </body>
</html>

