# Temporary files
*.swp
*.pyc
*.swo
*.swn
*.*~
.DS_Store
*.~lock*

# IDEs (boo)
*.sqlite3
.project
.pydevproject
.settings

# Vagrant
.vagrant

# Testing
.coverage
coverage.xml
nosetests.xml
htmlcov/*

# Uploads
www/public/media

# Machine User Keys
deploy/shared/machine_ssh.key

# Sensitive files (deliberately kept out of source control)
deploy/aws/s3/bootstrap/dockercfg
deploy/aws/s3/release/env
www/.env
