# Temporary files
*.swp
*.pyc
*.swo
*.swn
*.*~
.DS_Store
*.~lock*

# IDEs (boo)
*.sqlite3
.project
.pydevproject
.settings

# Vagrant
.vagrant

# Testing
.coverage
coverage.xml
nosetests.xml
htmlcov/*

# Uploads
www/public/media

# Machine User Keys
deploy/shared/machine_ssh.key
