Django>=1.4
South>=0.7.3
django-debug-toolbar>=0.9.4
django-extensions>=0.7.1
python-memcached>=1.47
Fabric>=1.4.0

# Use latest version of Oscar
-e git://github.com/tangentlabs/django-oscar.git#egg=django_oscar-dev
