# These dependencies should be pinned to an exact version.  They are left
# open here just to get things started.

# Application
Django>=1.6
South
django-compressor
python-memcached==1.53
raven

# Development packages
django-debug-toolbar
django-extensions
Werkzeug
flake8

# Testing
nose
django-nose
mock
django-webtest
webtest

# Deployment packages
Fabric
