# Use latest version of Oscar
-e git://github.com/tangentlabs/django-oscar.git#egg=django_oscar-dev

# Development packages
django-debug-toolbar
django-extensions
Werkzeug
pyflakes

# Testing
nose
django-nose
mock
django-webtest

# Deployment packages
Fabric
